body {
    background-image: url(../images/about_bg.jpg);
    background-position: center;
    background-size: cover;
}


/* ---------- BIO ---------- */

.col-3 p {
    color: #121212;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.5em;
}
