/*
    > Make <em> tags serif
*/

body, html {
    margin: 0;
    padding: 0;
    font-family: 'neue_hans_kendrickregular';
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    --top-bar-height: 54px;
    --content-width: 1170px;
    --portfolio-piece-width: 300px;
    --charcoal-grey-2: #323133;
    --dark-grey-1: #656D78;
    --dark-grey-2: #434A54;
    --medium-grey-1: #CCD1D9;
    --medium-grey-2: #AAB2BD;
    --light-grey-1: #F5F7FA;
    --light-grey-2: #E6E9ED;
    --shadow-color: rgba(0,0,0,0.3);
}

h2 {
    color: #282828;
    font-family: 'neue_hans_kendrickextrabold', sans-serif;
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.05em;
    margin: 60px auto 0 auto;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .3s;
}/* #portfolio h2, #resources h2,  */
#about h2 {
    color: var(--light-grey-1);
}

h4 {
    color: var(--dark-grey-2);
    font-size: 1.5em;
    font-family: 'neue_hans_kendrickregular', sans-serif;
    text-align: center;
    margin: 5px auto 40px auto;
    letter-spacing: 0.05em;
    transition: .3s;
}/* #portfolio h4, #resources h4,  */
#about h4 {
    color: gainsboro;
}

ul, li {
    padding: 0;
    list-style-type: none;
}

a {
    color: var(--dark-grey-2);
    text-decoration: none;
}

p a {
    color: inherit;
    text-decoration: underline;
}

/* ========== TOP BAR ========== */

.top-bar {
    width: 100%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    background: black;
    position: fixed;
    z-index: 2;
    transition: .3s;
}
.top-bar-content {
    width: var(--content-width);
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;/*
    background: steelblue;*/
}

.logo-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
}
.logo-wrapper svg {
    width: 100%;
}
.logo {
    transition: all .3s;
}

.top-bar-links { /* ul */
    display: flex;
}
.top-bar-links li:not(:last-child):after {
    content: "/";
    color: var(--medium-grey-1);
    display: inline-block;
}
.top-bar-links a {
    color: var(--medium-grey-1);
    margin: auto 10px;
    font-family: 'neue_hans_kendrickmedium';
    transition: all .3s;
}
.top-bar-links a:hover {
    color: var(--light-grey-1);
}

/* ========== BODY ========== */

section:not(:first-of-type) {
    min-height: 100vh;
    display: flex;
    justify-content: center;/*
    align-items: flex-start;*/
    padding-bottom: 80px;
    background: white;
}
section:nth-of-type(2n+3) {
    background: var(--light-grey-1);
}
section:not(:last-of-type):nth-of-type(1n+3) .section-content:before  { /* add line at top of section */
    content: "";
    width: 20vw;
    max-width: 150px;
    height: 4px;
    background: black;
}

.section-content {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;/*
    background: lightsalmon;*/
}

.bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;/*
    z-index: -1;*/
}

#home {
    height: calc((100vw * 9) / 16);
    margin: 0;
    padding: 0;
}

.header-text-name {
    text-align: center;
    margin-bottom: 10px;
}

.header-text-name, .header-text-changing {
    color: blue;
    font-family: 'neue_hans_kendrickextrabold';
    font-size: 80px;
    letter-spacing: 0.2em;
    font-variant-caps: all-petite-caps;
    margin: 0;
    mix-blend-mode: multiply;
    opacity: 0.7;
}

#portfolio {
}

.portfolio-gallery {
    width: var(--caontent-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;;/*
    background: black;
    box-shadow: 0 10px 10px -5px var(--shadow-color);*/
}

.portfolio-project {
    width: calc(var(--content-width)/3);
    height: calc(var(--content-width)/4);
    background-size: cover;
    cursor: pointer;
    filter: grayscale(0.8);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.portfolio-project:hover {
    cursor: pointer;
    z-index: 1;
    filter: grayscale(0);
    border-radius: 3px;
    transform: translate(0px, -2px) scale(1.03,1.03);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#resources {
}

.resources-gallery {
    width: var(--content-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*
    background: white;*/
}
.resource {
    width: 100px;
    margin: 20px;
    cursor: pointer;
}
.resource-img {
    width: 100%;
    height: 100px;
    background: var(--light-grey-2);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.resource-img:hover {
    transform: translate(0px, -5px) scale(1.05,1.05);
    box-shadow: 0 14px 28px -5px rgba(0,0,0,0.25), 0 10px 10px -5px rgba(0,0,0,0.22);
}
.resource-name {
    color: var(--dark-grey-2);
    font-family: 'neue_hans_kendrickbold';
    margin-bottom: 0;
}
.resource-type {
    color: var(--dark-grey-1);
    margin: 0;
}

#shop {
}

.shop-gallery {
    width: var(--content-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*
    background: white;*/
}
.shop-item {
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.shop-item-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--light-grey-2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.shop-item-img:hover {
    transform: translate(0px, -5px) scale(1.05,1.05);
    box-shadow: 0 14px 28px -5px rgba(0,0,0,0.25), 0 10px 10px -5px rgba(0,0,0,0.22);
}
.shop-item-img img {
    height: 100%;
}
.shop-item-img-info {
    color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(190,90,90,0.7);
    opacity: 0;
    transition: .3s;
}
.shop-item-img-info:hover {
    opacity: 1;
}
.shop-item-name {
    color: var(--dark-grey-2);
    font-family: 'neue_hans_kendrickbold';
    margin-bottom: 0;
}
.shop-item-type {
    color: var(--dark-grey-1);
    margin: 0;
    margin-bottom: 10px;
}
.shop-item-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-item-buy {
    color: #999;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 0.96em;
    letter-spacing: 0.03em;
    background: white;
    border: none;
    border-top: 3px solid limegreen;
    border-radius: 4px;
    height: 50px;
    padding: 12px 14px;
    cursor: pointer;
    box-shadow: 0 0 2px var(--shadow-color);
    transition: .1s;
}
.shop-item-buy:hover {
}
.green-fg {
    color: limegreen;
}
.line-through {
    color: var(--dark-grey-1);
    text-decoration: line-through;
}

#about {
    color: var(--light-grey-2);
    background-image: url(../images/about_bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--light-grey-2);
    box-shadow: inset 0 5px 10px var(--shadow-color);
}

#about h4 i {
    font-size: 0.6em;
    position: relative;
    bottom: 5px;
}

#about p {
    font-family: 'Zilla Slab', serif;
    font-size: 1.2em;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    opacity: 0.8;
}

footer {
    color: var(--dark-grey-1);
    font-family: 'neue_hans_kendricklight';
    font-size: 1.1em;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    padding:  40px 0 80px 0;
    background: black;
}

footer .section-content { /* col wrapper (row) */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

footer .section-content .col {/*
    border-right: 1px dashed white;*/
}
/*
.social-media {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
}*/
/*
.social-media li:not(:first-child) {
    margin-left: 10px;
}*/

footer li {
    margin-bottom: 8px;
}

footer a {
    transition: all .3s;
}

footer a:hover {
    color: var(--light-grey-2);
}
