
/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 1366px) {
    body {
        --content-width: 900px;
    }
    .section-content {
        width: var(--content-width);
    }
	.header-text {
	    color: white;
	    font-family: 'Lato', sans-serif;
		font-weight: lighter;
	    font-size: 3.2em;
	    margin: 0;
	}
	.portfolio-project {
	    height: 250px;
	}
}

@media screen and (max-width: 1100px) {
    body {
        --content-width: 700px;
    }
    .section-content {
        width: var(--content-width);
    }
	.header-text {
		font-size: 3rem;
	}
	.portfolio-project {
	    height: 230px;
	}
	.resource {
		width: calc(100% / 3 - 66px);
	}
	.shop-item {
		width: calc(100% / 2 - 62px);
	}
    .shop-item-modal-body {
        width: calc(100vw - 200px);
        height: calc( (100vw - 200px) / 1.77 );
    }
	.about-skill {
		width: calc(50% - 40px);
	}
}

@media screen and (max-width: 860px) {
    body {
        --content-width: 600px;
    }
    .section-content {
        width: var(--content-width);
    }
	#home {
        height: 50vh;
		background: url(../images/show_reel_poster.jpg) no-repeat center center;
		background-size: cover;
    }
	.header-text {
		font-size: 2.5rem;
	}
	.bg-video {
		display: none;
	}
	.resource {
		width: calc(100% / 2 - 62px);
	}
}

@media screen and (max-width: 720px) {
    body {
        --content-width: 500px;
    }
    .section-content {
        width: var(--content-width);
    }
	.top-bar {
		display: none;
	}
	#home .section-content {
		position: absolute;
		bottom: calc(50% - inherit);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.arrow {
		display: none;
	}

	.portfolio-project {
	    width: calc(var(--content-width) / 2 - 10px);
	}
	.portfolio-project:not(:nth-child(3n+3)) {
	    margin-right: 0; /* fix previous margin */
	}
	.portfolio-project:not(:nth-child(2n)) {
	    margin-right: 20px;/*
		border: 4px solid white;*/
	}

	.resource-name, .shop-item-name {
		font-size: 1.7em;
	}
	.shop-item {
		width: calc(100% / 2 - 62px);
	}
    .shop-item-modal-body {
        width: calc(100vw - 50px);
        height: calc( (100vw - 50px) / 1.77 );
    }
}

@media screen and (max-width: 600px) {
    body {
        --content-width: 300px;
    }

    /* ===== HEADER ===== */
    .header-text {
        font-size: 2em;
    }

    /* ===== BODY ===== */
    .section-content {
        width: calc(100% - 40px);
    }
    #home {
        height: 50vh;
		background: url(../images/show_reel_poster.jpg) no-repeat center center;
		background-size: cover;
    }
	#portfolio .section-content {
		width: 100vw;/*
		background: steelblue;*/
	}
	.portfolio-project {
	    width: calc(50% - 30px);
		margin: 10px 20px;
	}
	.portfolio-project:not(:nth-child(2n)) {
	    margin-right: 0; /* fix previous margin */
	}

	.resources-gallery {
		width: 100%;
	}
	.resource:not(:last-of-type) {
	    margin-right: 0px;
	}
	.resource {
		width: 100%;
		margin-bottom: 20px;
	}

	.shop-item:not(:last-of-type) {
	    margin-right: 0px;
	}
	.shop-item {
		width: 100%;
	}

	.about-skill {
		width: 100%;
		text-align: left;
		margin: 20px;
	}
	.about-skill-img {
		height: 60px;
	}
	.about-skill-img img {
		height: 100%;
		margin: auto;
	}

	#contact textarea {
		width: calc(100% - 20px);
	}

    /* ===== FOOTER ===== */
    footer .section-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 300px) {
    body {
        --content-width: 280px;
    }
    .section-content {
        width: var(--content-width);
    }
}
