.project-modal-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
}

.project-modal-body {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-modal-header {
    display: flex;
    justify-content: center;
    padding: 40px 40px 20px 40px;
    color: #f2f2f2;
    background: black;
}

.project-modal-content {
    padding: 10px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ---------- CONTENT ---------- */

.project-modal-content * {
    color: #ccc;
    width: 100%;
}

.project-modal-content *:not(.caption) {
    margin-top: 20px;
}

.caption {
    margin-top: 10px;
}

h2 {
    font-size: 2em;
    margin: 0;
    padding-bottom: 10px;
}

.project-modal-wrapper i {
    position: fixed;
    top: 30px;
    right: 60px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* ---------- FOOTER ---------- */

.project-modal-footer {
    display: flex;
    justify-content: center;
    padding: 25px;
    background: black;
}

.powered_by_behance {
    width: 115px;
}
