

.portfolio-project-modal-content {
	max-width: 1170px;
    padding: 10px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ---------- CONTENT ---------- */

.portfolio-project-modal-content * {
    color: #ccc;
    width: 100%;
}

.portfolio-project-modal-content *:not(.caption) {
    margin-top: 20px;
}

.caption {
    margin-top: 10px;
	margin-bottom: 20px;
}

/* ---------- FOOTER ---------- */

.portfolio-project-modal-footer {
    display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.powered_by_behance {
    width: 115px;
}
