
.portfolio-project-modal-content {
	color: #eee;
	max-width: 1170px;
	width: 100%;/*
    padding: 10px 40px 0px 40px;*/
	margin: 10px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;/*
	background: steelblue;*/
}

/* ---------- CONTENT ---------- */

.portfolio-project-modal-content img {
	width: 100%;
}

.portfolio-project-modal-content p {
	max-width: 100%;
	word-break: normal;
	word-wrap: break-word;
}

.portfolio-project-modal-content *:not(.caption):not(.portfolio-project-modal-footer *) {
    margin-top: 20px;
}

.caption {
    margin-top: 10px;
	margin-bottom: 20px;/*
	word-wrap: break-word;*/
}

/* ---------- FOOTER ---------- */

.portfolio-project-modal-footer {
    display: flex;
	justify-content: center;
	margin-bottom: 50px;/*
	background: tomato;*/
}

.powered_by_behance {
    width: 115px;
	margin-top: 20px;
}
