/* Style the tab */
div.tab {
    overflow: hidden;/*
    border-bottom: 1px solid #eee;*/
}

/* Style the buttons inside the tab */
div.tab button {
	color: var(--dark-blue);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
	border: 1px solid var(--dark-blue);/*
	background: var(--black);*/
    transition: 0.3s;
}
div.tab button:first-child {
	border-radius: 3px 0 0 3px;
}
div.tab button:last-child {
	border-radius: 0 3px 3px 0;
}

/* Change background color of buttons on hover */
div.tab button:hover {
	color: var(--dark-blue);
    background-color: rgba(93,135,149,0.5);
}

/* Create an active/current tablink class */
div.tab button.active {
	color: var(--black);
	background: var(--dark-blue);
}

/* Style the tab content */
.tabcontent {
    display: none;
	padding-top: 20px;
}

/*/ ========== Filter ========== /*/
.filter-group {
	overflow: hidden;
}

div.filter-group button {
	color: var(--dark-blue);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
	border: 1px solid var(--dark-blue);/*
	background: var(--black);*/
    transition: 0.3s;
}
div.filter-group button:nth-child(1n+2) {
	border-left: none;
}
div.filter-group button:first-child {
	border-radius: 3px 0 0 3px;
}
div.filter-group button:last-child {
	border-radius: 0 3px 3px 0;
}

/* Change background color of buttons on hover */
div.filter-group button:hover {
	color: var(--dark-blue);
    background-color: rgba(93,135,149,0.5);
}

/* Create an active/current tablink class */
div.filter-group button.active {
	color: var(--black);
	background: var(--dark-blue);
}
